<div class="stars">

  @for (star of stars; track star) {

    <span
      class="star"
      [class.filled]="star <= (hoverRating() || currentRating())"
      (mouseenter)="hoverRating.set(star)"
      (mouseleave)="hoverRating.set(0)"
      (click)="rate(star)">

      ★

    </span>

  }

</div>

@if (thanksMessage()) {

  <p class="thanks">
    {{ thanksMessage() }}
  </p>

} @else if (hoverRating() > 0) {

  <p class="preview">
    {{ hoverMessage() }}
  </p>

} @else if (currentRating() > 0) {

  <p class="success">
    ⭐ Votre note : {{ currentRating() }}/5
  </p>

} @else {

  <p class="hint">
    Survolez les étoiles pour noter ce restaurant !
  </p>

}